@font-face {
  font-family: Infinity;
  src: url(../fonts/Infinity.woff2);
}

@font-face {
  font-family: simplifica;
  src: url(../fonts/SIMPLIFICA\ Typeface\ \(1\).woff2);
}

html {
  scroll-behavior: smooth;  
  max-width: 375px;
  margin: auto;
  font-family: infinity;
}

.flex-container {
  display: flex;
}

.header, .footer{
  font-family: infinity;
  flex-direction: row;
  align-items: center;
}

.header-side, .footer-side {
  flex-direction: column;
  padding: 10px 10px;
}

.header-side p {
  font-size: large;
  padding: 0 0;
  margin: 10px 0;
}

.footer-side p {
  font-size: small;
  padding: 0 0;
  margin: 5px;
  text-align: right;
}

img {
  min-width: 200px;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

h1, h2, h3, h4 {
  font-family: simplifica;
}

h2 {
  padding-left: 20px;
  font-size: x-large;
}

p {
  padding-left: 20px;
  font-size: medium;
}

.slider-image {
  min-width: 100px;
  display: flex;
  flex-direction: row;
  overflow: scroll;
  margin: 40px 0;
}

.slider-image img {
  padding: 10px 20px;
}

hr {
  margin: 30px;
}

.carte-vente {
  flex-direction: column;
  margin: 30px 0;
}

.carte-vente p {
  text-align: left;
  font-size: small;
  margin: 0;
}

.carte-vente h4 {
  text-align: left;
  font-size: medium;
  margin: 0;
}

.points-de-vente {
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 400px;
  padding-left: 20px;
}